# Posttest: Analisis Data Imigrasi ke Kanada
by: [Nama Kamu]

In [1]:
import pandas as pd

# Membaca file Excel
df = pd.read_excel('Canada.xlsx', sheet_name=None)  # sheet_name=None untuk membaca semua sheet

# Jika ingin membaca sheet tertentu (misalnya sheet pertama)
data = pd.read_excel('Canada.xlsx')

# Tampilkan beberapa baris pertama
data.head()

,OdName,AreaName,RegName,DevName,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,NaN,NaN,NaN,NaN,NaN,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,NaN,NaN,NaN,NaN,NaN,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,NaN,NaN,NaN,NaN,NaN,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,1,0,0,0,0,1,1

## Analisis Data
Sesuaikan analisis di bawah dengan instruksi soal posttest.

In [2]:
# Contoh: Statistik dasar
data.describe()

,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1980,1981,1982,1983,1984,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,0.0,0.0,0.0,0.0,0.0,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.00000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,NaN,NaN,NaN,NaN,NaN,1453.167513,1306.000000,1230.203046,905.431472,896.162437,...,2394.131980,2662.35533,2554.720812,2403.583756,2510.091371,2560.101523,2849.614213,2525.360406,2618.304569,2629.654822
std,NaN,NaN,NaN,NaN,NaN,10784.524807,9449.373841,8864.905615,6503.149859,6452.570413,...,17119.626937,19104.65330,18261.461660,17129.490442,17908.071420,18276.881231,20386.174875,18082.496369,18763.159434,18838.224387
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,29.00000,26.000000,32.000000,32.000000,37.000000,42.000000,38.000000,43.000000,45.000000
50%,NaN,NaN,NaN,NaN,NaN,14.000000,10.000000,12.000000,12.000000,14.000000,...,196.000000,211.00000,230.000000,198.000000,205.000000,217.000000,216.000000,196.000000,235.000000,217.000000
75%,NaN,NaN,NaN,NaN,NaN,266.000000,299.000000,299.000000,197.000000,207.000000,...,866.000000,857.00000,856.000000,975.000000,975.000000,917.000000,953.000000,851.000000,799.000000,852.000000
max,NaN,NaN,NaN,NaN,NaN,143137.000000,128641.000000,121175.000000,89185.000000,88272.000000,...,235822.000000,262242.00000,251640.000000,236753.000000,247244.000000,252170.000000,280687.000000,248748.000000,257903.000000,259021.000000

In [3]:
# Contoh: Visualisasi
import matplotlib.pyplot as plt

# Misal: Plot imigran per tahun
if 'year' in data.columns:
    data.groupby('year').sum().plot(y='jumlah_imigran', kind='line')
    plt.title('Jumlah Imigran ke Kanada per Tahun')
    plt.ylabel('Jumlah Imigran')
    plt.show()
else:
    print('Kolom "year" tidak ditemukan, sesuaikan dengan struktur datamu.')

Kolom "year" tidak ditemukan, sesuaikan dengan struktur datamu.

## Jawaban Posttest
Tuliskan jawaban analisis atau insight sesuai instruksi soal di sini.